body {
  background-color: #083b4c;
}

.chess-board {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: calc((100% - 2rem) / 10);
  background-color: #1389b2;
}

.box-fizzbuzz {
  background-color: #f0466f;
}

.box-buzz {
  background-color: #ffd166;
}

.box-fizz {
  background-color: #0cd6a1;
}